*,
*::before,
*::after{
    box-sizing:border-box;
}

:root {
    --ff-primary: 'Inconsololata', monospace;
    --fw-reg: 300;
    --fw-bold: 999;

    --clr-light: #09daf5;
    --clr-dark: #000000;
    --clr-accent: #baf9fb;

    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 0.125em 0.125em 0.25em rgba(0,0,0,.15);

}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.5rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}
/* General Styles */

body {
    background-image: linear-gradient(to bottom, #30e1e1 0%, #7a91f4 100%);
    color: var(--clr-dark);
    margin:0;
    padding: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

.section {
    padding-top: 8%;
    padding-bottom: 8%;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold);}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.section_title {
    margin-bottom: 0.5em;
}

.section_title--intro {
    font-weight: var(--fw-reg);
}

.section_title--intro strong {
    display: block;
}

.section_subtitle--intro {
    background: var(--clr-accent);
    margin: 0;
    font-size: var(--fs-h3);
}

.section_subtitle--intro{
    font-family: var(--ff-primary);
    margin-bottom: 1em;
}

/* Navigation Bar */
.navcontainer {
    position: sticky;
    width: 65%;
    margin: 0 auto;
}

header::after{
    content: '';
    display: table;
    clear: both;
}
.logo {
    float: left;
    padding-top: 30px;
}
nav {
    position: sticky;
    float: right;
}
nav ul {
    margin: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;
    position: relative;
}

nav a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: rgb(255, 255, 255);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: aqua;
    position: absolute;
    width: 0%;
    transition: all ease-in-out 300ms;
}

nav a:hover::before {
    width: 100%;
}


/* Intro Section */

#hero {
    position: relative;
}

.myFace {
    box-shadow: var(--bs);
}
@media (min-width: 600px) {
    #hero {
        display:grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .myFace {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index:2;
    }
    
    .section_subtitle--intro{
        grid-area: img subtitle;
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* About Me Section */
@media (min-width: 600px) {
    .aboutContainer {
        max-width: max-content;
        text-align: left;
        padding-left: 300px;
        padding-right: 300px
    }
}
/* Resume Section */
.container ul{
    list-style-image: url('img/icons8-laptop-coding-32.png');
}
@media (min-width: 600px){
    .section_title--resume {
        text-align: left;
        padding-left: 300px;
        padding-right: 300px;
    }
    .container {
        display: grid; 
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        height: 100%;
        padding-left: 300px;
        padding-right: 300px;
     }
     .projects {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
     }
     .experience{
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;
     }
     .coursework {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 3;
     }
}

/* Footer Section */

.footer {
    background: rgba(55, 88, 253, 0.903);
    color: black;
    text-align: center;
    padding: 2.5em 0;
}
.social-list {
    list-style: none;
    display:flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item{
    margin: 0 .5em;
}

.social-list__link{
    padding: .5em;
}

.footer__link{
    text-decoration: none;
}

.footer a {
    color:black;
}

.footer__link:hover,
.social-list__link:hover {
    color: rgb(255, 255, 255);
}
